*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', ExtraBold;
}


body {
    background-color: rgb(54, 54, 54);
    height:100vh;
    margin: 0;
    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
      
} 
.wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.wrapper{
    height: 100vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
    .hidden2 {
        transition: none;
    }
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-5%);
    transition: all ease-out 0.4s;

}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
.hidden2{
    opacity: 0;
    filter: blur(3px);
    transform: translateY(-30px);
    transition: all ease-out 0.2s;
}
.show2{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
}
.logoo:nth-child(2) {
    transition-delay: 200ms;
}
.logoo:nth-child(3) {
    transition-delay: 0ms;
}
.logoo:nth-child(4) {
    transition-delay: 200ms;
}
.Background{
    position: relative;
    padding: 0px;
    margin: 0px;
    z-index: -2;
    transform-style: preserve-3d;
}  
.Background img{
    width: 100%;    
    opacity: 20%;    
}
.bg1{
    position: absolute;
    transform: translateY(50%) translateZ(-5px) scale(1.5) rotateZ(20deg);
}
.bg2{
    position: absolute;
    transform: translateY(70%) translateZ(-10px) scale(2) rotateZ(20deg);
}

/*HEADER*/

.header{
    position:relative;
    z-index: +1;
    min-height: 5px;
    color: whitesmoke;
}
.headerBG{
    position: absolute;
    height: 78%;
    width: 60rem;
    margin-top: 0%;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 5px;
    transform: translateX(calc(100vw - 25rem));
}
nav{
    display: flex;
    padding: 1% 5% 0% 5%;
    justify-content: space-between;
    align-items: baseline;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 1%;
    position: relative;
    transition: 0.2s;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem;
    
}
.nav-links ul li:hover{

    -webkit-transform: scale(115%);
    transform: scale(115%);
}

.upButton svg{
    
    color: rgba(255, 255, 255, 0.205);
    z-index: 10;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    right: 3vw;
    bottom: 4vh;
    position:fixed;
    transition: 0.2s;
}
.upButton svg:hover{
    text-decoration: none;
    color: rgba(235, 235, 235, 0.8);
    -webkit-transform: scale(120%);
    transform: scale(120%);
}

.languageSelector{
    color: rgb(255, 255, 255);
    left: 3vw;
    bottom: 2vh;
    position:fixed;
    font-size: 5vh;  
}

.languageSelector ul li{
    color: rgba(255, 255, 255, 0.205);
    list-style: none;
    margin-top: -3.5vh;
    transition: 0.2s;   
}
.languageSelector ul li a{
    color: rgba(255, 255, 255, 0.356);
    text-decoration: none;
    transition: 0.2s;
}
.languageSelector ul li a:hover{
    color: rgb(235, 235, 235);
    
}
.languageSelector ul li:hover{
    -webkit-transform: scale(120%);
    transform: scale(120%);   
}

/*LOGO*/

.logo{
    text-align: left;
    text-decoration: none;
    align-items: baseline;
    transition: 0.3s;
}

.logo ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 0px;
    
    position: relative;
}
.logo ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.2s;
}
.logo2{
    color: transparent;
    font-size: 1.5rem;
}
.logo:hover{
    -webkit-transform: scale(110%);
    transform: scale(110%);
}


/*Hello*/
a{
    text-decoration: none;
}
.hello{
    font-size: 3.5rem;
    height: 100vh;
    text-align: center;

    line-height: 120%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: auto;

}
.hello h1{
    padding-top: 33vh;

}
.hello h4{
    font-size: 2rem;
    font-weight: lighter;
}

.headlineProjects{
    height: 4rem;
    color: whitesmoke;
    padding-left: 9.5%;
    font-size: 2.5rem;

    padding-top: 50px;
}


/*CONTENT*/

.content{
   
    color: transparent;
    padding: 0 8vw 0 8vw; 
    align-items: center; 
    margin-bottom: 200px;   
}

.projects-grid {
    --gap: 20px;
    --num-cols: 2;
    --row-height: 23vw;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin: auto;
    
}
  
.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content img{
    width: 100%;
    border-radius: 35px 35px;
    box-shadow: rgba(0,0,0,0.5) 0 0 20px;
    transition: 0.2s;   
}


.content a{
    text-decoration: none;
    transition: 0.3s;       
}

.content a:hover img{
    opacity: 45%;
    -webkit-transform: scale(103%);
    transform: scale(103%);
}
.content figcaption{
    color: transparent;
    font-size: 2vw;
    transform: translate(3vw, -21vw);
    text-align: left;
    text-decoration: none;
    transition: 0.5s;
}
.content a:hover figcaption{
    color: whitesmoke;
    opacity: 100%;
}
.content figcaption h1{
    line-height: 5vw;
}
.content figcaption h4{
    font-size: 2vw;

    font-weight: lighter;
}



/*FOOTER*/

footer {    

    color: whitesmoke;
    margin-bottom: 0%;
    font-size: 1rem;
    padding: 30px 0px 30px 0px;
    text-align: center;
    font-style: regular;
}

/*RECOMMENDATIONS*/

.headlineRecommendations{
    color: whitesmoke;
    font-size: 2rem;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
}

.recommendations{
   
    color: transparent;
    display: block; 
    margin: auto;
    height: 15vw;     
}
.recommendations figure{
    width: 20vw;
    align-items: center;
    margin: auto;
    transition: 0.2s;
}

.recommendations figure:hover img{
    opacity: 30%;
    -webkit-transform: scale(105%);
    transform: scale(105%);
    
}
.recommendations figure:hover figcaption{
    color: whitesmoke;
}
.recommendations figure img{
    width: 20vw;
    border-radius: 35px 35px;
    box-shadow: rgba(0,0,0,0.5) 0 0 20px;
    transition: 0.3s;
}


.recommendations ul{
    list-style-type: none;       
}
.recommendations ul a{
    text-decoration: none;
    color: transparent;       
}
.recommendations figure figcaption{
    font-size: 2rem;
    transform: translate(2vw, -4vw);
    text-align: left;
    text-decoration: none;
    transition: 0.5s;
}
.recommendations figure figcaption h1{
    padding-bottom: 1vw;
}
.recommendations figure figcaption h4{
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;
}



/*ABOUT*/
#container3D canvas {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
  }
.aboutHeadline{
    font-size: 1.5rem;
    height: 100vh;
    padding: 30vh 20% 200px 20%;
    text-align: left;

    line-height: 150%;
    color: whitesmoke;
    display:block;
}
.aboutHeadline h1{
    padding-bottom: 50px;
    text-align: left;
    transform: translateX(-5%);
    font-size: 4rem;
}
.aboutHeadline h2{
    padding-bottom: 150px;
    
    text-align: center;
    font-size: 3rem;

}
.aboutHeadline h4{
    padding: 2% 2% 2% 3%;
    font-weight: lighter;
    background-color: rgba(28, 28, 32, 0.85);
    border-radius: 20px;
}

/*CONTACT*/
.form{
color: whitesmoke;
display: block;
margin: auto;
padding: 50px 0% 200px 0%;
text-align: center;
font-size: 1.5rem;
}
.headlineForm{
    padding-bottom: 20px;
}
.form-group{
    padding: 10px;
}
.form-group2{
    padding: 10px;
    padding-bottom: 30px;
}
.form-group2 textarea{
    width: 40vw;
}
.form-control{
    text-align: left;
    font-size: 1rem;
    font-style: italic;
    padding: 10px;
}
.col{
    padding: 10px;
}
.col input{
    width: 40vw;

}
.col input ::placeholder{
    text-align: center;
}
.form button{
    background-color: whitesmoke;
    color: rgba(41,41,41,1);
    font-weight: bold;
    font-size: 1.5rem;
    width: 15vw;
    height: 50px;
    border-radius: 25px;
    transition: 0.3s;
}
.form button:hover{
    -webkit-transform: scale(105%);
    transform: scale(105%);
}



/*EVERYPAINT*/

.everypaintHeadline{
    font-size: 1rem;
    padding: 25px 10% 10px 10%;
    text-align: center;

    line-height: 150%;
    color: whitesmoke;
    display:block;
}
.everypaintHeadline h2{
    line-height: 4rem;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 1rem;

}
.everypaintHeadline h4{
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 120%;
}
video{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;

}
video[poster]{
    object-fit: fill;
    
}
.text{
    font-size: 1.2rem;
    margin: 50px 18% 0px 18%;
    text-align: left;

    line-height: 150%;
    color: whitesmoke;
    display:block;
    padding: 1.5% 1.5% 1.5% 0%;
    font-weight: lighter;
    background-color: rgba(28, 28, 32, 0.85);
    border-radius: 10px;
}
.text h4{
    font-weight: lighter;
    padding-left: 3%;
}
.gridContainer3{
    padding: 50px 9.5% 0px 9.5%;
}

.image-grid3 {
    --gap: 10px;
    --num-cols: 2;
    --row-height: 20vw;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    
  }
  
  .image-grid3 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0,0,0,0.2) 50px;
  }
  

/*HOPOHOPO*/
.gridContainer{
    padding: 50px 9.5% 0px 9.5%;
}

.image-grid {
    --gap: 10px;
    --num-cols: 2;
    --row-height: 23vw;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    
  }
  
.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0,0,0,0.2) 50px;
}
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  .image-grid-row-3 {
    grid-row: span 3;
  }

  /*KINGSPRAY*/

.gridContainer2{
    padding: 50px 9.5% 0 9.5%;
}

.image-grid2 {
    --gap: 10px;
    --num-cols: 1;
    --row-height: 40vw;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    
  }
  
  .image-grid2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0,0,0,0.2) 50px;
  }

  /*MOBILE VERSION*/

  @media only screen and (min-width: 2400px){
    .headerBG{

        transform: translateX(calc(100vw - 35rem));
    }
    .nav-links ul li a{
        font-size: 1.5rem;
        
    }
    .logo ul li a{
        font-size: 2rem;
    }
    .logo2{
        font-size: 2rem;
    }
    .hello{
        font-size: 5rem;   
    }
    .hello h4{
        font-size: 3rem;
    }
    .headlineProjects{
        height: 6rem;
        font-size: 4rem;
    }
    .aboutHeadline{
        font-size: 2rem;
    }
    .aboutHeadline h1{
        font-size: 6rem;
    }
    .everypaintHeadline{
        font-size: 2rem;
    }
    .everypaintHeadline h2{
        line-height: 5rem;
        font-size: 5rem;
        padding-bottom: 1rem;    
    }
    .everypaintHeadline h4{
        font-size: 2rem;
    }
    .text{
        font-size: 2rem;
    }.headlineRecommendations{
        font-size: 3rem;
    }
    footer {    
        font-size: 1.5rem;
    }
    
}
  @media only screen and (min-width: 3400px){
    .headerBG{

        transform: translateX(calc(100vw - 48rem));
    }
    .nav-links ul li a{
        font-size: 2rem;
        
    }
    .logo ul li a{
        font-size: 3rem;
    }
    .logo2{
        font-size: 3rem;
    }
    .hello{
        font-size: 6rem;   
    }
    .hello h4{
        font-size: 3.5rem;
    }
    .headlineProjects{
        height: 8rem;
        font-size: 5rem;
    }
    .aboutHeadline{
        font-size: 3rem;
    }
    .aboutHeadline h1{
        font-size: 7rem;
    }
    .everypaintHeadline{
        font-size: 2rem;
    }
    .everypaintHeadline h2{
        line-height: 7rem;
        font-size: 7rem;
        padding-bottom: 1rem;    
    }
    .everypaintHeadline h4{
        font-size: 3rem;
    }
    .text{
        font-size: 2.5rem;
    }.headlineRecommendations{
        font-size: 4rem;
    }
    footer {    
        font-size: 1.5rem;
    }
    

  }

  @media only screen and (max-width: 1000px) {
    video{
        width: calc(100% - 20px);
    }
    .gridContainer3{
        padding: 50px 0% 0px 0%;
    }
    .gridContainer2{
        padding: 50px 0% 0px 0%;
    }
    .gridContainer{
        padding: 50px 0% 0px 0%;    
  }
  .image-grid {
    --row-height: 30vw;
    grid-auto-rows: var(--row-height);   
  }
  .image-grid2 {
    --row-height: 50vw;
    grid-auto-rows: var(--row-height);   
  }
  .image-grid3 {
    --row-height: 30vw;
    grid-auto-rows: var(--row-height);   
  }
  .recommendations figure img{
    width: 20vw;
}
.headlineRecommendations{
    padding-bottom: 30px;
}
.content{
    padding: 0 2vw 0 2vw;    
}

.projects-grid {
    --gap: 10px;
    --row-height: 26vw;
    padding: var(--gap);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.headlineProjects{
    height: 4rem;
    padding-left: 5%;
    font-size: 2rem;
    padding-top: 200px;
}
.aboutHeadline{

    padding: 0px 18% 0px 18%;

}
.text{
    margin: 50px 10% 0px 10%;
}
.recommendations figure:hover figcaption{
    color: transparent;
}
.bg2{
    transform: translateY(120%) translateZ(-20px) scale(4) rotateZ(20deg);
}
.bg1{
    transform: translateY(150%) translateZ(-15px) scale(3) rotateZ(20deg);
}

}

  @media only screen and (max-width: 900px) {
    
    
    .form-group2 textarea{
        width: 60vw;
    }
    .col input{
        width: 60vw;
    }
    .form button{
        width: 30vw;
    }
     
    .aboutHeadline{

        padding: 0px 15% 0px 15%;

    }
    .upButton svg{
        width: 10vw;
        height: 10vw;
        right: 5vw;
        bottom: 5vw;
    }
    
    .projects-grid {
        --num-cols: 1;
        --row-height: 53vw;
      
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);;   
    }
    
  }
  @media only screen and (max-width: 700px) {
    .aboutHeadline{

        padding: 0px 10% 0px 10%;

    }
  }
  @media only screen and (max-width: 600px) {
    .hello{
        font-size: 2rem; 
        height: 100vh;   
    }
    .hello h4{
        font-size: 1.2rem;
    }
    .aboutHeadline{
        font-size: 1.2rem;
        height: 80vh;
        padding: 0px 5% 0px 5%;
        text-align: left;
    
        line-height: 150%;
        color: whitesmoke;
        display:block;
    }
    .aboutHeadline h1{
        padding-bottom: 30px;
        transform: translateX(0%);
        font-size: 3rem;
    }
    .aboutHeadline h2{
        padding-bottom: 150px;
        
        text-align: center;
        font-size: 3rem;
    
    }
    .form{
        font-size: 1rem;
        }
        .form-group2 textarea{
            width: 80vw;
        }
        .col input{
            width: 80vw;
        }
        .form button{
            width: 30vw;
          
  }

.everypaintHeadline{
    font-size: 1rem;
    padding: 25px 5% 0px 5%;
}
.everypaintHeadline h2{
    font-size: 3rem;
    padding-bottom: 0.5rem;
    line-height: 3.2rem;

}
.everypaintHeadline h4{
    font-size: 1.2rem;
    line-height: 2rem;
}
.text{
    margin: 50px 5% 0px 5%;
}
.headlineRecommendations{
    font-size: 1.5rem;
    padding-top: 100px;
    padding-bottom: 30px;
}
.headlineProjects{
    height: 2rem;
    font-size: 1.5rem;
}
.bg1{
    transform: translateY(230%) translateZ(-25px) scale(4.5) rotateZ(20deg);
}
  }

@media only screen and (max-width: 450px) {
  .headlineProjects{

    padding-top: 300px;

  }
}
@media only screen and (max-width: 350px) {
    .headlineProjects{
  
      padding-top: 400px;
  
    }
  }
  @media only screen and (max-width: 280px) {
    .headlineProjects{
  
      padding-top: 500px;
  
    }
  }